* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --primary: #3ba1c5;
  --cat-color: #2596be;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.container .sidebar {
  width: 15%;
  height: 100%;
  background-color: rgb(222 236 250);
}

.container .sidebar .header_sidebar {
  border-bottom: 3px solid black;
  padding: 48px 20px;
}

.container .sidebar .header_sidebar .header__sidebar-left #user {
  color: #333;
  font-weight: bold;
}

.container .sidebar .header_sidebar .header__sidebar-left #user span {
  color: #Be2540;
  font-weight: bold;
}

.container .sidebar .header_sidebar .header__sidebar-left #today {
  color: #333;
  font-weight: bold;
}

.container .sidebar .header_sidebar .header__sidebar-left #today span {
  color: #Be2540;
}

.container .sidebar .menu {
  margin-top: 50px;
}

.container .sidebar .menu ul {
  list-style: none;
}

.container .sidebar .menu ul .menu-title {
  background-color: #0f3c4c;
  font-weight: bold;
}

.container .sidebar .menu ul .menu-title a {
  color: #fff;
  font-weight: bold;
}

.container .sidebar .menu ul li {
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  border: 2px solid gray;
  cursor: pointer;
}
.container .sidebar .menu ul li:hover a {
  color: #fff
}
.container .sidebar .menu ul li:hover {
  transition: 0.3s ease-in-out;
  background-color: #2187ab;
}

.container .sidebar .menu ul li a {
  text-decoration: none;
  color: var(--cat-color);
  font-weight: bold;
}

.container .sidebar .menu ul .active {
  background-color: var(--cat-color);
}

.container .sidebar .menu ul .active a {
  color: #fff;
}

.container .right-container {
  width: 85%;
  height: 100%;
}

.container .right-container .header {
  text-transform: uppercase;
  width: 100%;
  background-color: var(--primary);
  height: 137px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.container .right-container .select {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .right-container .class-title {
  margin-top: 25px;
  text-transform: uppercase;
  background-color: var(--primary);
  padding: 7px;
  position: relative;
  text-align: center;
}

.container .right-container .class-title p {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.container .right-container .class-title span {
  position: absolute;
  top: -20px;
  left: 26px;
  padding: 6px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: gray;
}

.container .right-container .select {
  padding-left: 48px;
  margin: 10px 0;
}

.container .right-container .select button {
  margin-left: 15px;
  padding: 4px 8px;
  background-color: #1b6fc3;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px 7px;
}

.container .right-container .select button:hover {
  color: #ffF;
  background-color: #146ac2;
  transition: 0.1s;
  transform: scale(1.1);
}

.container .right-container .select button#srch-stu-btn {
  transform: scale(1);
  padding: 5px 7px;
}

.container .right-container .select button#srch-stu-btn i {
  color: #ffF;
  background-color: transparent;
}

input#srch-stu-input {
  padding: 5px;
  border-radius: 5px;
}

.container .right-container .main-content {
  padding: 10px;
  width: 1200px;
  height: 1000px;
  margin-top: 5px;
  margin-left: 50px;
  display: flex;
}

.container .right-container .main-content .main-content__info {
  width: 1180px;
  height: 100%;
  display: flex;
}

.container .right-container .main-content .main-content__info .main-content__info-top {
  margin-bottom: 2px;
  height: 10px;
  display: flex;
  justify-content: space-around;
  width: 856px;
  margin-left: 10px;
}

table {
  border-collapse: collapse;
}

.container .right-container .main-content .main-content__info .main-content__info-top table td,
.container .right-container .main-content .main-content__info .main-content__info-top table th {
  border: 1px solid #333;
  text-align: center;
  padding: 5px 10px;
}

.container .right-container .main-content .main-content__info .main-content__info-top table tbody tr td button {
  padding: 3px 8px;
  cursor: pointer;
  color: rgb(236, 229, 229);
  border: none;
  outline: none;
  border-radius: 5px;
  background: #c3d8ed;
}

.container .right-container .main-content .main-content__info .main-content__info-top table tbody tr td button:hover {
  color: #146ac2;
  transition: 0.2s;
}

.container .right-container .main-content .main-content__info .main-content__info-top table tbody tr td .action {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.container .right-container .main-content .main-content__info .main-content__info-top table tbody tr td .action li {
  margin-left: 5px;
}

.container .right-container .main-content .main-content__info .main-content__info-top table tbody tr td .action li a {
  display: block;
  padding: 3px 7px;
  color: #fff;
  background: #3ba1c5;
  transition: all 0.2s;
  border-radius: 2px;
}

.container .right-container .main-content .main-content__info .main-content__info-top table tbody tr td .action li a.delete {
  background: #3ba1c5;
}

.container .right-container .main-content .main-content__info .main-content__info-top table tbody tr td .action li:hover a.delete {
  background: #3ba1c5;
}

.container .right-container .main-content .main-content__info .main-content__info-top table tbody tr td .action li:hover a.edit {
  background: #105770;
}

.container .right-container .main-content .main-content__info .main-content__info-bottom {
  border: 1px solid #000;
  width: 300px;
  height: 328px;
  margin-left: 10px;
}

.container .right-container .main-content .main-content__info .main-content__info-bottom .info__bottom-content {
  height: 80%;
  align-items: center;
  justify-content: space-around;
}

.container .right-container .main-content .main-content__info .main-content__info-bottom .info__bottom-content .box {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.container .right-container .main-content .main-content__info .main-content__info-bottom .info__bottom-content .box p {
  color: blue;
}

.container .right-container .main-content .main-content__info .main-content__info-bottom .info__bottom-content .box input {
  width: 190px;
  height: 25px;
  padding-left: 5px;
  font-size: 16px;
}

.container .right-container .main-content__action {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container .right-container .main-content__action button {
  margin-bottom: 20px;
  width: 66px;
  height: 40px;
  margin: 0 5px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .right-container .main-content__action button:hover {
  transition: 0.3s;
  background-color: #146ac2;
  color: #fff;
}

.container .right-container .main-content .main-content__action button:hover i {
  color: #fff;
}

.container .right-container .main-content__action button i {
  margin-right: 5px;
}

/*# sourceMappingURL=subject-score-table.css.map */