<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../../public/css/class-list.css">  -->
    <link rel="stylesheet" href="http://localhost:5000/css/class-list.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Danh sách lớp</title>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="header_sidebar">
                <div class="header__sidebar-left">
                    <p id="user">Người dùng: <span id="username">Chien</span></p>
                    <p id="today">Hôm nay: <span id="todayis">22-11-2022</span></p>
                    <p id="today"><span id="logout"><a href="/logout" style="color: red;">Đăng xuất<a></span></p>
                </div>
                <div class="header__sidebar-right">

                </div>
            </div>
            <div class="menu">
                <ul>
                    <li class="menu-title">
                        <a href="#">MENU</a>
                    </li>
                    <li>
                        <a href="/student">Danh Sách Sinh Viên</a>
                    </li>
                    <li class = "active">
                        <a href="/class">Danh Sách Lớp</a>
                    </li>
                    <li>
                        <a href="/score">Bảng Điểm Môn Học</a>
                    </li>
                    <li>
                        <a href="/report">Báo Cáo Tổng Kết Môn</a>
                    </li>
                    <li>
                        <a href="/report">Báo Cáo Tổng Kết Học Kì</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-container">
            <div class="header">
                <h1>Hệ Thống Quản Lý Học Sinh</h1>
            </div>
            <div class="class-title">
                <p>Danh Sách Lớp</p>
                <span>Thông tin lớp học</span>
            </div>
            <div class="select">
              <span>Chọn lớp : </span>
              <select id="class-input" class="select-class">
                <option value="10A1">Lớp 10A1</option>
                <option value="10A2">Lớp 10A2</option>
                <option value="10A3">Lớp 10A3</option>
                <option value="11A1">Lớp 11A1</option>
                <option value="11A2">Lớp 11A2</option>
                <option value="11A3">Lớp 11A3</option>
                <option value="12A1">Lớp 12A1</option>
                <option value="12A2">Lớp 12A2</option>
              </select>
              <button id="view-class-btn">Xem</button>
              <button id="disp-stu-list-btn">Thêm học sinh</button>
            </div>
            <div class="main-content">
                <div class="main-content__info">
                    <div class="main-content__info-top" style="border: none;">
                        <table style="width:100%; border: 1px solid black; border-collapse: collapse;">
                            <thead>
                                <tr>
                                    <th style="text-align:left;height:30px;" colspan="3">   Lớp: <span id="class-name"></span></th>
                                    <th style="text-align:left;height:30px;" colspan="4">   Sĩ số: <span id="number"></span></th>
                                </tr>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã số</th>
                                    <th>Họ tên</th>
                                    <th>Giới tính</th>
                                    <th>Năm sinh</th>
                                    <th>Địa chỉ</th>
                                    <th>Tác vụ</th>
                                </tr>
                            </thead>
                            <tbody id="stu-class-content">
                                
                            </tbody>
                        </table>
                    </div>
                    <div id='stu-table' class="main-content__info-top" style=" border: none;display: none;width: 610px;">
                        
                        <table style="width:500px;border: 1px solid black; border-collapse: collapse;">
                            <div style="padding:7px; border: 1px solid black;border-bottom: none;">DSHS Chưa Phân Lớp</div>
                            <thead>
                                <tr>
                                    <th>Mã số</th>
                                    <th>Họ tên</th>
                                    <th>Năm sinh</th>
                                    <th>Địa chỉ</th>
                                    <th>Thêm</th>
                                </tr>
                            </thead>
                            <tbody id="stu-list-content">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="http://localhost:5000/js/class-list.js">
        
    </script>
</body>

</html>
