<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="http://localhost:5000/css/student.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Danh sách học sinh</title>
</head>
<style>
i {
    background-color: gray;
    color: black; 
}

table, th, td {
    border-collapse: collapse;
}
th, td {
    border-bottom: 'none';
}
</style>
<body style="box-sizing: border-box;">
    <div class="container">
        <div class="sidebar">
            <div class="header_sidebar">
                <div class="header__sidebar-left">
                    <p id="user">Người dùng: <span id="username">Chien</span></p>
                    <p id="today">Hôm nay: <span id="todayis"></span></p>
                    <p id="today"><span id="logout"><a href="/logout" style="color: red;">Đăng xuất<a></span></p>
                </div>
                <div class="header__sidebar-right">

                </div>
            </div>
            <div class="menu">
                <ul>
                    <li class="menu-title">
                        <a href="#">MENU</a>
                    </li>
                    <li class = "active">
                        <a href="/student">Danh Sách Học Sinh</a>
                    </li>
                    <li>
                      <a href="/class">Danh Sách Lớp</a>
                    </li>
                    <li>
                        <a href="/score">Bảng Điểm Môn Học</a>
                    </li>
                    <li>
                        <a href="/report">Báo Cáo Tổng Kết</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right-container" style="height:auto;">
            <div class="header">
                <h1>Hệ Thống Quản Lý Học Sinh</h1>
            </div>
            <div class="class-title">
                <p>Danh Sách Học Sinh</p>
            </div>
            <div class="select">
              <button id="all-stu-btn">Xem</button>
              <button onclick="displayAddStuForm()" style="margin-right: 200px;">Thêm học sinh</button>
              <input type="text" id="srch-stu-input" placeholder="Nhập mã số hoặc họ tên..."/>
              <button id="srch-stu-btn"><i class="fa fa-search"></i></button>
            </div>
            <div class="main-content" style="height: 400px; overflow: visible;">
                <div class="main-content__info" >
                    <div class="main-content__info-top" >
                        <table style="width:100%">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã số</th>
                                    <th>Họ tên</th>
                                    <th>Lớp</th>
                                    <th>TB Học Kỳ 1</th>
                                    <th>TB Học Kỳ 2</th>
                                    <th>Tác vụ</th>
                                </tr>
                            </thead>
                            <tbody id="stu-table-content">            
                            </tbody>
                        </table>
                    </div>
                    <form class="main-content__info-bottom" id="stu-form" style="display: none; height: 350px; border-color: rgb(68, 63, 63);">
                        <div class="info__bottom-content">
                            <div class="box" id="idInput">
                                <label for="mahs">Mã Học sinh</label>
                                <input type="text" id="mahs"/>
                            </div>
                            <div class="box">
                                <label for="hoten">Họ tên</label>
                                <input type="text" id="hoten"/>
                            </div>
                            <div class="box">
                                <label for="gtinh">Giới tính</label>
                                <select id="gtinh">
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                </select>
                            </div>
                            <div class="box">
                                <label for="ngsinh">Ngày sinh</label>
                                <input type="date" id="ngsinh"/>
                            </div>
                            <div class="box">
                                <label for="diachi">Địa chỉ</label>
                                <input type="text" id="diachi"/>
                            </div>
                            <div class="box">
                                <label for="email">Email</label>
                                <input type="email" id="email"/>
                            </div>
                            <div class="box" id="classInput">
                                <label for="lop">Lớp</label>
                                <select id="lop" style="float:right;">
                                    <option value="null">NULL</option>
                                    <option value="10A1">10A1</option>
                                    <option value="10A2">10A2</option>
                                    <option value="10A3">10A3</option>
                                    <option value="10A4">10A4</option>
                                    <option value="11A1">11A1</option>
                                    <option value="11A2">11A2</option>
                                    <option value="11A3">11A3</option>
                                    <option value="12A1">12A1</option>
                                    <option value="12A2">12A2</option>
                                </select>
                            </div>
                        </div>
                        <div class="main-content__action" style="margin-top: 10px;">
                            <button id="add-stu-btn"><i class="fa-solid fa-circle-plus"></i>Thêm</button>
                            <button id="edit-stu-btn" onclick="editableStuForm(event);"><i class="fa-solid fa-pen"></i>Sửa</button>
                            <button id="update-stu-btn"><i class="fa-solid fa-pen"></i>Cập nhật</button>
                            <button id ="reset-btn" onclick="resetStuForm(event);">Làm mới</button> 
                            <button id="cancel-btn" type="button" onclick="document.querySelector('#stu-form').style.display='none';">Hủy </button>
                        </div>
                        <div id="inform">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="http://localhost:5000/js/student.js"> 
    </script>
</body>

</html>
